@page {
  size: A4;
  margin: 1cm;
}

:root {
  --primary: #001f59;
  --secondary: #666;
  --orange: #f3890b;
  --dark-gray: #2d2d2d;
  --blue: #0039ac;
  --bg: #e2e2e2;
}

* {
  margin: 0;
  padding: 0;
  text-indent: 0;
  box-sizing: border-box;
}

.page {
  width: 21cm;
  min-height: 29.7cm;
}

.row {
  display: flex;
}

.col-left {
  width: 30%;
  margin-right: 5%;
}
.col-right {
  width: 65%;
}

h1 {
  color: var(--primary);
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 24.5pt;
}

h3 {
  color: var(--primary);
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 12pt;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.gap {
  row-gap: 5px;
  column-gap: 28px;
}

.icon-text-wrapper {
  margin-top: 5px;
}

.icon-text {
  display: flex;
  align-items: center;
}

.icon {
  width: 9pt;
  fill: var(--blue);
  margin-right: 5px;
}

.s1 {
  color: var(--secondary);
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 9pt;
}

h2 {
  color: var(--primary);
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 17pt;
}

hr {
  border: 2px solid var(--orange);
  margin-bottom: 10px;
}

.s2 {
  color: var(--blue);
  font-family: Lato, sans-serif;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
  font-size: 12pt;
}

.s3 {
  color: var(--dark-gray);
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 12pt;
}

.s3 > span {
  color: var(--blue);
}

p {
  color: var(--secondary);
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 10pt;
  margin: 0;
}

.date-place-container {
  margin-top: 6pt;
  margin-bottom: 6pt;
}

ul {
  list-style-type: disc;
  padding-inline-start: 1rem;
}

li::marker {
  color: var(--secondary);
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

.chip-wrapper {
  gap: 5pt;
}

.chip {
  border: 1px solid var(--secondary);
  padding: 5px;
  border-radius: 5px;
}
